name: Docker

on:
  workflow_call:

jobs:
  docker:
    strategy:
      matrix:
        include:
          - postgresql_version: 18
            latest: true
          - postgresql_version: 17
            latest: false
          - postgresql_version: 16
            latest: false
          - postgresql_version: 15
            latest: false
          - postgresql_version: 14
            latest: false

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Build container image
        uses: tweedegolf/build-container-image@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          push: ${{ github.ref == 'refs/heads/main' }}
          platforms: "linux/amd64,linux/arm64"
          build-args: |
            PG_MAJOR=${{matrix.postgresql_version}}
          tags: |
            ghcr.io/tweedegolf/postgres:${{matrix.postgresql_version}}
            ${{ matrix.latest && 'ghcr.io/tweedegolf/postgres:latest' || '' }}
